body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-X: hidden;
    background-image: url("../images/fundo\ login.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;


}

#header {
    background-color: black;
}

.container.header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#logo {
    width: 140px;
}

#logo img {
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar {
    margin-right: 150px;
    display: flex;
    align-items: center;

}

.navbar li {

    display: flex;
    padding: 5%;
}

.navbar li a {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbar li a:hover {
    color: white;
}

.nav_menu.agora {
    border-bottom: #870000 3px solid;
    padding: 3px;
}

#container_login {
    background-color: rgba(128, 0, 21, 0.153);
    width: 30%;
    height: 44vh;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.span_input {
    font-size: 30px;
    color: white;
    text-shadow:
        0 0 7px rgb(6, 0, 0),
        0 0 10px rgb(80, 8, 8),
        0 0 21px rgb(155, 13, 13),
        0 0 42px rgb(129, 80, 80),
        0 0 82px rgb(0, 0, 0),
        0 0 92px rgb(0, 0, 0),
        0 0 102px rgb(0, 0, 0),
        0 0 151px rgb(0, 0, 0);
    animation: flicker 1.5s infinite alternate;
    margin-top: 10px;
}

.btn.entrar {
    cursor: pointer;
    background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgb(224, 0, 0);
    border-radius: 10px;
    display: block;
   
}

.btn.entrar:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    animation: flicker 2.5s infinite alternate;
}

@keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
            0 0 4px rgb(139, 16, 16),
            0 0 11px rgb(94, 9, 9),
            0 0 19px rgb(0, 0, 0),
            0 0 40px rgb(255, 157, 0),
            0 0 80px rgb(0, 0, 0),
            0 0 90px rgb(16, 7, 2),
            0 0 100px rgb(0, 0, 0),
            0 0 150px rgb(0, 0, 0);

    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 0
}

.botoes{
    padding: 20px 20px;
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
}