body {
  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grenze+Gotisch:wght@200&family=IBM+Plex+Sans+Arabic:wght@300;400;500&display=swap');
    margin: 0;
    padding: 0;
    font-family: roboto;
    overflow-X: hidden;
    background-color: black;
    color: white;
}

#header {
    background-color: black;
}

.container.header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#logo {
    width: 140px;
}

#logo img {
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar {
    margin-right: 150px;
    display: flex;
    align-items: center;

}

.navbar li {

    display: flex;
    padding: 5%;
}

.navbar li a {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbar li a:hover {
    color: red;
}

.nav_menu.agora{
    border-bottom: #870000 3px solid;
    padding: 3px;
}
.container.banner {
    background-image: url("../images/thumb-1920-764519.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 70vh;
    margin-top: 1px;

}

.container.banner h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: white;


    text-shadow: 10px 5px 5px black;
}


#card_introducao {
    margin: 0 auto;
    margin-top: 20px;
width: 40%;
background-color: rgb(198, 0, 0);
border-radius: 15px;
height: 300px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background-image: url('../images/fundopapiro.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;

}
#card_introducao span{
    
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#container_resumo {
    margin: 0 auto;
    margin-top: 100px;
width: 50%;
background-color:#FFD700;
border-radius: 15px;
height: 20%;
background-image: url('../images/fundopapiro.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;

}
#container_resumo h1{
color: black;
text-align: center;
}
#primeiraParteResumo{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
#continuacaoResumo{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#verMais{
    color: red;
    cursor: pointer;
    font-weight: bold;
}
#verMenos{
    color: red;
    cursor: pointer;
    font-weight: bold;
}
#tagQuiz{
    font-style: none;
    color: red;
    font-weight: bold;
}
#livroPersonagens{
    width: 70%;
    margin: 0 auto;
    background-image: url("../images/pergaminho.jpg");
    display: flex;
}
#livroPersonagens span {
    color: black;
    font-size: 25px;
    margin-left: 10%;
    font-weight: bold;

}
.carroussel{
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    height: 500px;
    width: 400px;
}
.containerImagens{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.containerImagens img{
    object-fit: cover;
    height: 650px;
    width: 450px;
}

.botoesScroll{
    cursor: pointer;
    width: 100px;
    margin-left: 30%;
    margin-top: 60px;
}
#personagens{
    margin-top: 40px;
    background-image: url("../images/fundopapiro.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    color: black;
    margin-left: 45%;
}