body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-X: hidden;
}

#header {
    background-color: black;
}

.container.header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#logo {
    width: 140px;
}

#logo img {
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar {
    margin-right: 150px;
    display: flex;
    align-items: center;

}

.navbar li {

    display: flex;
    padding: 5%;
}

.navbar li a {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbar li a:hover {
    color: red;
}


.container.banner {
    background-image: url("/projeto-individual/images/thumb-1920-764519.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 1px;

}

.container.banner h1 {
     margin-left: 100px;
     font-size: 40px;
    font-weight: bold;
    color: white;
    height: 30px;
    position:relative;
    text-shadow: 10px 5px 5px black;
}
#container_test{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#carrossel {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    
}

#carrossel span {
    margin-left: 130px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 10px 5px 5px black
}



.foto:nth-child(1) {
    animation-delay: 1s;
}

.foto:nth-child(2) {
    animation-delay: 4s;
    ;
}